
.about {
    padding: 4rem 1rem;
}

.about-title {
    padding-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.about-text {
    color: #a6a6a6;
    text-align: center;
    margin: 0;
    line-height: 1.25rem;
}

@media screen and (min-width: 1200px) {
    
    .about-title, .about-text {
        max-width: 800px;
        margin: 0 auto;
    }

}