
.services {
    padding: 4rem 1rem;
    background-color: #f6f6f6;
}

.services-title {
    padding-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.services-text {
    color: #a6a6a6;
    text-align: center;
    margin: 0;
    line-height: 1.25rem;
}

.service-card-list {
    margin-top: 2rem;
}

.service-card {
    background: #ffffff;
    border: 1px solid #e5e5e5;
    margin: 1rem 0;
    padding: 1rem;
}

.service-card-title {
    text-align: center;
    margin: 0;
    padding: 1rem 0;
}

.service-card-text {
    color: #a6a6a6;
    text-align: center;
    margin: 0;
    line-height: 1.25rem;
}

@media screen and (min-width: 1200px) {
    
    .services-title, .services-text {
        max-width: 800px;
        margin: 0 auto;
    }

    .service-card-list {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .service-card {
        max-width: 30%;
    }
    
}
